* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #0056b3;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}

.top{
display: flex;
justify-content: space-around;
padding: 40px;
background-color: #fff;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.teams {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
}

form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 30%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
}

.player-list {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    margin: 10px 0 5px;
    font-weight: bold;
}

form input, form select, form button {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

form input[type="range"] {
    width: 100%;
}

form button {
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #004494;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.team {
    flex: 1;
    margin: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .info {
    display: flex;
    flex-direction: column;
}

.card .info h3 {
    margin: 0 0 10px;
}

.card .info span {
    font-size: 14px;
    color: #777;
}

.card .strength {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.card.defense {
    border-left: 5px solid #28a745; /* Yeşil */
}

.card.midfield {
    border-left: 5px solid #ffc107; /* Turuncu */
}

.card.forward {
    border-left: 5px solid #007bff; /* Mavi */
}

button#createTeams {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 20px auto;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#createTeams:hover {
    background-color: #218838;
}

p {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}
/* Silme butonunun (X) CSS stili */
button {
    background-color: red;
    color: white;
    border: none;
    font-weight: bold;
    padding: 4px 4px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: darkred;
}

/* Oyuncu adı */
.player-name {
    font-weight: bold;
    color: #2c3e50;
    margin-right: 10px;
    min-width: 160px !important; 
    display: inline-block;/* İstediğiniz minimum genişliği buraya yazın */
}



/* Güç */
.player-strength {
    background-color: #2870ff;
    color: white;
    font-weight: bold;
    margin-right: 10px;
    padding: 2px 5px;
    border-radius: 3px;
}

/* Pozisyon */
.player-position {
    background-color: var(--position-color, #16a085);
    color: white;
    font-weight: bold;
    margin-right: 10px;
    padding: 2px 5px;
    border-radius: 3px;
    font-style: italic;
}
/* Position colors */
:root {
    --defense-color: #28a745; /* Green */
    --midfield-color: #ffc107; /* Orange */
    --forward-color: #007bff; /* Blue */
}

.player-position.defense {
    background-color: var(--defense-color);
}

.player-position.midfield {
    background-color: var(--midfield-color);
}

.player-position.forward {
    background-color: var(--forward-color);
}
/* Genel liste öğesi */
li {
    margin-bottom: 8px;
    font-size: 16px;
}

/* X butonu */
button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: darkred;
}
/* Team 1 Strength */
#team1Strength {
    font-weight: bold;
    color: #e74c3c; /* Kırmızı ton */
    margin-top: 5px;
    font-size: 18px;
    padding-bottom: 20px;
}

/* Team 2 Strength */
#team2Strength {
    font-weight: bold;
    color: #3498db; /* Mavi ton */
    margin-top: 5px;
    font-size: 18px;
    padding-bottom: 20px;
}
.player-item {
    position: relative;
}

.player-item .edit-controls {
    display: none;
    position: absolute;
    top: -39px;
    left: 35%;
    background: #ffffff;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    padding: 8px 5px 5px 5px;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Gölge eklendi */
}

#playerList .player-item:hover .edit-controls {
    display: block;
}

.player-strength:hover  {
    cursor: pointer;
}

.strength-slider {
    width: 110px;
}

#strengthValue {
    font-weight: bold;
    font-size: 24px;
}